streamlit
openai
langchain-openai
langchain-core
langchain
langgraph 
langchain-community
langchain-experimental
langchain-anthropic 
tavily-python 
pandas
beautifulsoup4
requests
langchain.tools
tabulate
